.profileImg {
  width: 4rem;
  height: 4rem;
}

.profileImgLabel:hover {
  cursor: pointer;
}

.profileImgLabel > input[type="file"] {
  display: none;
}

.profileDiv {
  border-bottom: solid thin var(--clr-primary);
}

.postModalTextArea {
  resize: none;
  padding: 0.5rem;
}

.btnFollow:hover {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}
