.feedPageGrid {
  display: grid;
  grid-template-columns: 25vw 1fr 28vw;
  grid-template-areas: "nav feed extra";
}

.navDiv {
  grid-area: nav;
  height: 100vh;
}

.feedDiv {
  grid-area: feed;
  overflow-y: auto;
  height: 100vh;
  border-left: solid thin var(--clr-off-primary);
}

.trendingDiv {
  grid-area: extra;
  height: 100vh;
}

.trendingDiv ul {
  height: 35vh;
  overflow-y: auto;
}

.trendingDiv ul li:hover {
  cursor: pointer;
}

.profileImgSmall {
  width: 2.5rem;
  height: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .feedPageGrid {
    grid-template-areas: "nav feed feed";
  }
  .trendingDiv {
    display: none;
  }
}
