.postDiv {
  border-bottom: solid thin var(--clr-off-primary);
  letter-spacing: 1px;
  line-height: 20px;
}

.postProfileImg {
  width: 3rem;
  height: 3rem;
}

.postDiv:hover {
  cursor: pointer;
}

.followerDiv {
  border-bottom: solid thin var(--clr-off-primary);
}

.followerDiv:hover {
  cursor: pointer;
}
